$box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
$red-gradient: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);



.courses{
    @include grid-container;
  }

  
  .check{
    @include bold-font;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 7.5rem;
    background: $red-gradient;
    color: #FFFFFF;
    margin: 16px 0;
    border-radius: 10px;
    padding: 24px 28px;
  }

  /*course cards*/

  .course-container{
    padding-top: 24px;
  }

  .course-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    border-radius: 10px; 
    box-shadow: $box-shadow;
    background-color: #FFFFFF;
  }

  .icon{
    margin-top: -38px;
  }

  .info{
    @include grid-container;
    background-color: #FFFFFF;
  }

  .info h4{
    @include bold-font;
    font-size: 1.25rem;
    line-height: 1.575rem;
  }

  .info p{
    @include body-text;
  }

  .course-title a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color:#F74780;
  }

/*tablet*/

@media (min-width:576px){

    .courses{
      width: 689px;
      height: 930px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px 15px;
    }

    .check,
    .course-title{
      width: 100%;
      height: 100%;
      margin-top: 30px;
    }


}


/*Desktop*/
@media (min-width:988px){
        .courses{
          width: 1110px;
          height: 748px;  
          margin: auto;
          display: grid;
          grid-template-columns: repeat(3, 2fr);
          grid-gap: 32px 15px;
        }

}
