

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    background: $white-gradient;
    overflow-x: hidden;
    font-family: $fonts;
}


/* file import*/
@import 'mixins';
@import 'courses';

$fonts:'Jakarta', Plus Jakarta Sans, sans-serif;
$red-gradient: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$dark-blue: #13183F;
$white-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
$hd-btn-hover-color: rgba(102, 108, 163, 1);
$intro-btn-hover-color:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$gs-link-hover-color:rgba(255, 167, 195, 1);
$ft-btn-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);





.wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
  }


/*mobile-first design*/

/*header*/
.header{
    @include flex-container;
    margin: 1rem;
}

.header button{
    @include gs-button; 
    background-color: $dark-blue;
    
}



/*headline*/

.headline{
    @include grid-container;
    margin:1rem;
}

  .headline h1{
    @include bold-font;
    font-size: 2.5rem;
    line-height: 3.125rem;
    margin: 16px 0;
  }  

  .headline p{
    @include body-text;
  }

  .headline button{
    @include gs-button;
    background: $red-gradient;
    margin: 8px 0;
  }

  .mobile-image{
    background-image: url("../assets/image-hero-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 333px;
    width: 100%;
  }

  footer{
    padding: 2.25rem 1rem;
    background-color: $dark-blue;
  } 

 .footer-items{
    @include flex-container;
}

.footer-items button{
    @include gs-button; 
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}

/*tablet*/
@media (min-width:575px){

    .mobile-image{
        display: none;
    }

    .hero{
        display: flex;
        margin-bottom: 8rem;
    }

    .header button{
        z-index: 1;
    }
    
    
    .headline{
        height: 50vh;
        width: 48%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
      
    
    .hero-image{
            background-image: url("../assets/image-hero-tablet.png");
            background-position: bottom-left;
            background-repeat: no-repeat;
            position: absolute;
            width: 50%;
            height: 640px;
            transform: translate(400px, -140px);
    }


    footer{
        padding: 2.25rem 2.5rem;
        background-color: $dark-blue;
      }
    
}


/*Desktop*/
@media (min-width:988px){

    .header{
        @include flex-container;
        margin-right: 3rem;
    }

    
     
    .headline{
        max-width: 30%;
    }

    .headline h1{
        font-size: 56px;
        line-height: 71px;
    }

    .headline p{
        font-size: 18px;
        line-height: 28px;
    }
     
    .hero-image{
        background-image: url("../assets/image-hero-desktop.png");
        background-repeat: no-repeat; 
        position: absolute;
        width: 991.63px;
        height: 936.92px;
        transform: translate(900px, -210px);  
       
}

}

 /*active state*/ 
 .header button,
  .headline button,
   .courses a,
   .footer-items button
   {
    cursor:pointer;
   }

   .header button:hover{
   background:$hd-btn-hover-color;
   }

   .headline button:hover{
    background:$intro-btn-hover-color;
   }

   .courses a:hover{
    color:$gs-link-hover-color;
   }

   .footer-items button:hover{
    background:$ft-btn-hover-color;
   }

   

          
   
 
