$fonts:'Jakarta', Plus Jakarta Sans, sans-serif;
$paragraph-color: #83869A;
$heading-color: #13183F;
$btn-gs-txt-color: #FFFFFF;  /*button get started text color */
$p-gs-txt-color: #F74780;  /*paragraph get started text color */




:root{
    font-family: Jakarta;
    background-color: #FFFFFF;
    font-size: 16px ;
}

